# The hyperparameters for the GRPO training are defined to be the same as the ones in the original paper:
# https://arxiv.org/pdf/2402.03300
output_dir: "/scratch/prj/charnu/ft_weights/mental-healer/grpo_qwen8/"
do_train: true
per_device_train_batch_size: 8
gradient_accumulation_steps: 1
learning_rate: 1.0e-5
num_train_epochs: 1
adam_beta1: 0.9
adam_beta2: 0.95
weight_decay: 0.1