# The hyperparameters for the GRPO training are defined to be the same as the ones in the original paper:
# https://arxiv.org/pdf/2402.03300
bf16: true
use_liger_kernel: true

# sampling
num_generations: 8

# training
do_train: true
output_dir: "/scratch/prj/charnu/ft_weights/mental-healer/grpo_qwen8/"
per_device_train_batch_size: 4
gradient_accumulation_steps: 4
learning_rate: 5.3e-4
num_train_epochs: 1

# optimizer
adam_beta1: 0.9
adam_beta2: 0.95
weight_decay: 0.1
warmup_steps: 2000
base_learning_rate: 0.0

# vllm settings
use_vllm: true

# logging
logging_steps: 10
logging_first_step: true
log_completions: true